.product-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px;
}
.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.cart-container {
  position: sticky;
  top: 0;
  padding: 30px 20px;
  position: sticky;
  background-color: aliceblue;
  padding: 20px;
}
@media screen and (maxwidth: 800px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
