.product-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px;
}
.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.cart-container {  
  position: sticky;
  top: 0;
  background-color: aliceblue;
  
}
.choose-btn{
  color: white;
  padding: 15px 0px ;
  width: 200px;
  border: 0;
  border-radius: 20px;
  background-color: rgb(202, 214, 183);
}
.clear-btn{
  color: white;
  margin-top: 15px;
  padding: 15px 0px ;
  width: 200px;
  border: 0;
  border-radius: 20px;
  background-color: rgb(108, 112, 102);
}
@media screen and (maxwidth: 800px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
}
